[Unit]
Description=The NGINX HTTP and reverse proxy server
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
PIDFile=/fix-data/bin/nginx/logs/nginx.pid
ExecStart=/fix-data/bin/nginx/sbin/nginx -c /fix-data/bin/nginx/conf/nginx.conf
ExecReload=/fix-data/bin/nginx/sbin/nginx -s reload
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=false

[Install]
WantedBy=multi-user.target