[Unit]
Description=The PHP FastCGI Process Manager
After=network.target

[Service]
Type=simple
PIDFile=/fix-data/bin/php/var/run/php-fpm.pid
ExecStart=/fix-data/bin/php/sbin/php-fpm --nodaemonize --fpm-config /fix-data/bin/php/etc/php-fpm.conf
ExecReload=/bin/kill -USR2 $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=false

[Install]
WantedBy=multi-user.target