[Unit]
Description=Pure-FTPd is an FTP server
After=network.target

[Service]
Type=forking
PIDFile=/var/run/pure-ftpd.pid
ExecStart=/fix-data/bin/pureftpd/sbin/pure-ftpd /fix-data/bin/pureftpd/etc/pure-ftpd.conf
PrivateTmp=false

[Install]
WantedBy=multi-user.target