[Unit]
Description=Redis
After=network.target

[Service]
Type=forking
ExecStart=/fix-data/bin/redis/bin/redis-server /fix-data/bin/redis/etc/redis.conf
ExecStop=/fix-data/bin/redis/bin/redis-cli shutdown
PrivateTmp=false

[Install]
WantedBy=multi-user.target